.carousel.carousel-animate-slide.carousel-animated{
    height: 400px;
}
.carousel .carousel-container .carousel-item.has-background .is-background {
    height: 400px;
}
.my-divider.is-danger {
    border: 2px solid;
    width: 110px;
    margin: 15px auto;
    color: #fff112;
}
.navbar-item img {
    width: 100px;
    max-height: 6.75rem;
}
.media-content > .content > p.has-text-centered > img {
    width: 80px;
}
.cartao-session {
    height: 160px;
    padding: 28px;
}
section.section-hero-text {
    margin-top: 15px;
}
.hero-body {
    background-color: #fff112;
}
.hero.is-primary .title {
    color: #363636;
}
.hero.is-primary .subtitle {
    color: #363636;
}
.button.is-primary:hover {
    background-color: #fafab0;
    border-color: transparent;
    color: #363636;
}
.navbar-item a.button.is-primary {

    color: #ef2e3e;
    background-color: #fff112;
    font-size: 20px;
    transition: 0.5s all;
}
a.button.is-primary:hover {
    background-color: #f4ffb0;
    color: #f05961;

}
div#navbarBasicExample > .navbar-start > a.navbar-item {
    font-size: 20px;
    color: #f05961;
    font-weight: 600;
}
.footer_end.bottom {
    background-color: #fff112;
}
svg.svg-inline--fa.fa-whatsapp.fa-w-14 {
    color: #075e54;
}
.box {
    min-height: 210.4px;
}
.action_contact a {
    font-size: 24px;
    color: #ef2e3e;
    border-color: #ef2e3e;
    background-color: transparent;  
}
.action_contact a:hover {
    color: #f05961;
    border-color: #f05961;
}
footer.footer .column.is-3.has-text-left > img {
    width: 100px;
}