.banner-responsivo {
    height: 400px;
    width: 100%;
    background-image: url(../img/banner_drogstore_large_400.png);
    background-size: cover;
}
.my-divider.is-danger {
    border: 2px solid;
    width: 110px;
    margin: 15px auto;
    color: #fff112;
}
.navbar-item img {
    width: 100px;
    max-height: 6.75rem;
}
.media-content > .content > p.has-text-centered > img {
    width: 80px;
}
.cartao-session {   
    padding: 32px 0 0;
}
section.section-hero-text {
    background-color: #f3f3f3;
    padding-top: 32px;
}
.hero-body {
    background-color: #fff112;
}
.hero.is-primary .title {
    color: #363636;
}
.hero.is-primary .subtitle {
    color: #363636;
}
.button.is-primary:hover {
    background-color: #fafab0;
    border-color: transparent;
    color: #363636;
}
.navbar-item a.button.is-primary {

    color: #ef2e3e;
    background-color: #fff112;
    font-size: 20px;
    transition: 0.5s all;
}
a.button.is-primary:hover {
    background-color: #f4ffb0;
    color: #f05961;
}
div#navbarBasicExample > .navbar-start > a.navbar-item {
    font-size: 20px;
    color: #f05961;
    font-weight: 600;
}
.footer_end.bottom {
    background-color: #fff112;
}
svg.svg-inline--fa.fa-whatsapp.fa-w-14 {
    color: #075e54;
}
.box {
    min-height: 210.4px;
}
.action_contact a {
    font-size: 24px;
    color: #ef2e3e;
    border-color: #ef2e3e;
    background-color: transparent;  
}
.action_contact a:hover {
    color: #f05961;
    border-color: #f05961;
}
footer.footer .column.is-3.has-text-left > img {
    width: 100px;
}
section.foryou-section {
    margin-top: 32px;
}
.has-background.has-text-centered.cartao-session p.title.is-2.has-text-centered+img {
    transform: scale(1.3);
}
section.hero.farmacia-session > .hero-body {
    background-color: #f3f3f3;
    border-top: 3px solid #f3f3f3;
    border-bottom: 3px solid #f3f3f3;
    padding-top: 32px;
}
section.brand-session {
    padding: 32px 0;
}
@media only screen and (min-width: 1440px) {
    .banner-responsivo {
        background-image: url(../img/banner_drogstore_large_1440.png);
    }
}
@media only screen and (max-width: 1024px) {
    .banner-responsivo {
        background-image: url(../img/banner_drogstore_large_1024.png);
    }
}
@media only screen and (max-width: 768px) {
    .banner-responsivo {
        background-image: url(../img/banner_drogstore_large_768.png);
    }
}
@media only screen and (min-width: 320px) and (max-width: 426px) {
    .banner-responsivo {
        background-image: url(../img/banner_drogstore_large_400.png);
    }
}
